<!DOCTYPE html>
<html>
  <head>
    <title>Gym availability</title>
  </head>
  <body>
    <div id="chart"></div>
    <ul>
      <% data.forEach(item => { %>
           <li>Date:<%=item.date%>  People:<%= item.count %></li> 
      <% }) %>
    </ul>
  </body>
</html>